.dashboard-layout {
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  .ant-menu {
    line-height: 64px;
  }
}

.dashboard-sidebar {
  background: #fff;
}

.dashboard-sidebar-menu {
  border-right: 0;
  height: 100%;
  overflow-y: auto;
}

.dashboard-sidebar-footer {
  padding: 24px;
  text-align: center;
}

.dashboard-content {
  padding: 0 24px 24px;
}