.logo {
    justify-content: center;
    align-items: center;
    height: 64px; // Adjust if necessary

    img {
      width: auto; // or your desired width
      height: 100%; // maintain aspect ratio
    }
  }